PORT=55531

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=messenger_ai
SYNCHRONIZE=true

JWT_SECRET=eyJhbGciOiJIUzI1NiJ9
JWT_EXPIRES_IN=8h

SYSTEM_ADMIN_CODE=swiftsoft

EMAIL_HOST=smtp.titan.email          # Host SMTP correto da TitanMail
EMAIL_PORT=587                       # Porta recomendada pelo provedor
EMAIL_USER=soares@swiftsoft.com.br   # Email TitanMail
EMAIL_PASS=seraosH.22                # Senha SMTP/TitanMail

COMPANY_NAME=Swift Soft
STORAGE_API_URL=http://localhost:3335/
STORAGE_API_KEY=SWIFTSOFTEXAMPLEKEY

OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4o-mini